/* src/pages/UserPage/UserPage.css */


.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7f6;
}

.user-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.user-header {
  margin-bottom: 40px;
}

.profile-section {
  margin-bottom: 40px;
}

.profile-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #555;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-pic,
.default-profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.default-profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 4rem;
  color: #fff;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
}

.user-info p {
  margin: 5px 0;
  font-size: 1.1rem;
}

.user-info p strong {
  margin-right: 10px;
}

.edit-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #0056b3;
}